## Pair programming Python + SQL

In [4]:
#Hacer ejercicios 4, 5 y 6

In [5]:
# 1 - Importar las librerías necesarias para crear la conexión y trabajar con Pandas.

import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [6]:
# 2 Crear la conexión a la base de datos Northwind que devuelva un mensaje de error si algo no ocurre cómo debería.

configuracion = {
    'user': 'root',         
    'password': 'AlumnaAdalab',    
    'host': '127.0.0.1',           
    'database': 'northwind'  
}

conexion = mysql.connector.connect(**configuracion)

try:
  conexion 

except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)

In [7]:
# 3 Usando "information_schema", extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind" // Dijo que de este ejercicio podemos pasar y que luego lo explica

In [8]:
# 4 Seleccionar todo de la tabla "customers" donde "country" sea "USA" o "Germany". Almacenar los resultados en una variable.

# iniciamos el cursor
cursor = conexion.cursor()

# ejecutamos nuestra query
cursor.execute("SELECT * FROM customers")

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
result = cursor.fetchall()

In [9]:
# 5 Convertir los resultados del ejercicio anterior en un Dataframe (no od olvidéis de poner el nombre a las columnas en el orden correcto).
df_customers = pd.DataFrame(result,columns=['customer_id', 'company_name', 'contact_name', 'contact_title', 'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax'])
df_customers

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci?n 2222,M?xico D.F.,,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer?a,Antonio Moreno,Owner,Mataderos 2312,M?xico D.F.,,05023,Mexico,(5) 555-3932,
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk?p,Christina Berglund,Order Administrator,Berguvsv?gen 8,Lule?,,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,,01-012,Poland,(26) 642-7012,(26) 642-7012

In [10]:
# 6 Muestrar las 10 primeras filas del Dataframe y las 10 últimas.

df_customers.head(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci?n 2222,M?xico D.F.,,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer?a,Antonio Moreno,Owner,Mataderos 2312,M?xico D.F.,,05023,Mexico,(5) 555-3932,
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk?p,Christina Berglund,Order Administrator,Berguvsv?gen 8,Lule?,,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
5,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,,68306,Germany,0621-08460,0621-08924
6,BLONP,Blondesddsl p?re et fils,Fr?d?rique Citeaux,Marketing Manager,"24, place Kl?ber",Strasbourg,,67000,France,88.60.15.31,88.60.15.32
7,BOLID,B?lido Comidas preparadas,Mart?n Sommer,Owner,"C/ Araquil, 67",Madrid,,28023,Spain,(91) 555 22 82,(91) 555 91 99
8,BONAP,Bon app',Laurence Lebihan,Owner,"12, rue des Bouchers",Marseille,,13008,France,91.24.45.40,91.24.45.41
9,BOTTM,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745

In [11]:
df_customers.tail(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
81,TRAIH,Trail's Head Gourmet Provisioners,Helvetius Nagy,Sales Associate,722 DaVinci Blvd.,Kirkland,WA,98034,USA,(206) 555-8257,(206) 555-2174
82,VAFFE,Vaffeljernet,Palle Ibsen,Sales Manager,Smagsloget 45,?rhus,,8200,Denmark,86 21 32 43,86 22 33 44
83,VICTE,Victuailles en stock,Mary Saveley,Sales Agent,"2, rue du Commerce",Lyon,,69004,France,78.32.54.86,78.32.54.87
84,VINET,Vins et alcools Chevalier,Paul Henriot,Accounting Manager,59 rue de l'Abbaye,Reims,,51100,France,26.47.15.10,26.47.15.11
85,WANDK,Die Wandernde Kuh,Rita M?ller,Sales Representative,Adenauerallee 900,Stuttgart,,70563,Germany,0711-020361,0711-035428
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,,01-012,Poland,(26) 642-7012,(26) 642-7012

In [12]:
# 7 Mostrar 5 filas aleatorias del Dataframe.

df_customers.sample(5)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
38,KOENE,K?niglich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,,14776,Germany,0555-09876,
50,MEREP,M?re Paillarde,Jean Fresni?re,Marketing Assistant,43 rue St. Laurent,Montr?al,Qu?bec,H1J 1C3,Canada,(514) 555-8054,(514) 555-8055
45,LILAS,LILA-Supermercado,Carlos Gonz?lez,Accounting Manager,Carrera 52 con Ave. Bol?var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,(9) 331-6954,(9) 331-7256
40,LAMAI,La maison d'Asie,Annette Roulet,Sales Manager,1 rue Alsace-Lorraine,Toulouse,,31000,France,61.77.61.10,61.77.61.11

In [13]:
# 8 ¿Hay nulos en el Dataframe? El resultado debe verse para cada una de las columnas.

df_customers.isnull().sum()

customer_id      0
company_name     0
contact_name     0
contact_title    0
address          0
city             0
region           0
postal_code      0
country          0
phone            0
fax              0
dtype: int64

In [14]:
# 9 Mostrar los principales estadísticos.

df_customers.describe()

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
count,91,91,91,91,91,91,91,91,91,91,91
unique,91,91,91,12,91,69,19,87,21,91,70
top,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,London,,1010,USA,030-0074321,
freq,1,1,1,17,1,6,60,3,13,1,22

In [15]:
# 10 Mostrar el nombre de las columnas del Dataframe.

df_customers.columns

Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax'],
      dtype='object')